@model Dabravata.Models.InputModels.CreatePageInputModel
@{
    ViewBag.Title = "Редактиране на Страница";
    ViewBag.FormModeText = "Запази";
    ViewBag.FormMode = "Edit";
}

<div class="container">
    @{Html.RenderPartial("Partials/_CreateEditPagePartial", Model);}
</div>
