@model Dabravata.Models.InputModels.CreateRoomCategoryInputModel
@{
    ViewBag.Title = "Добавяне на Категория";
    ViewBag.FormModeText = "Добави";
    ViewBag.FormMode = "Create";
}

<div class="container">
    @{Html.RenderPartial("Partials/_CreateEditRoomCategoryPartial", Model);}
</div>