@model Dabravata.Models.InputModels.CreateReservationInputModel
@{
    ViewBag.Title = "Добавяне на Резервация";
    ViewBag.FormModeText = "Добави";
    ViewBag.FormMode = "Create";
}

<div class="container">
    @{Html.RenderPartial("Partials/_CreateEditReservationPartial", Model);}
</div>