@model Dabravata.Models.ViewModels.AllReservationsViewModel
@{
    ViewBag.Title = "Допълнителни страници";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-12">
        <h3>Активни резервации:</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th><img src="~/Areas/Administration/Content/img/picture-icon.png" /></th>
                    <th>Номер</th>
                    <th>Резервация</th>
                    <th>Пристигане</th>
                    <th>Заминаване</th>
                    <th>Настаняване</th>
                    <th style="text-align:center;"><img src="~/Areas/Administration/Content/img/cog-icon.png" /></th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("Partials/_Reservations", Model.ConfirmedReservations)
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <h3>Запитвания за резервации:</h3>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th><img src="~/Areas/Administration/Content/img/picture-icon.png" /></th>
                    <th>Номер</th>
                    <th>Резервация</th>
                    <th>Пристигане</th>
                    <th>Заминаване</th>
                    <th>Настаняване</th>
                    <th style="text-align:center;"><img src="~/Areas/Administration/Content/img/cog-icon.png" /></th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("Partials/_Reservations", Model.RequestedReservations)
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <h3>Отминали резервации:</h3>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th><img src="~/Areas/Administration/Content/img/picture-icon.png" /></th>
                    <th>Номер</th>
                    <th>Резервация</th>
                    <th>Пристигане</th>
                    <th>Заминаване</th>
                    <th>Настаняване</th>
                    <th style="text-align:center;"><img src="~/Areas/Administration/Content/img/cog-icon.png" /></th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("Partials/_Reservations", Model.PassedReservations)
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" href="@Url.Action("Create")">Добави резервация</a>
    </div>
</div>