@Html.Partial("~/Views/Shared/_QuickReservation.cshtml")
<div class="luxen-widget news-widget">
    <div class="title-quick marginb20">
        <h5>ИНФОРМАЦИЯ ЗА ХОТЕЛА</h5>
    </div>
    <p>Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Lorem ipsumero, a pharetra augue. Lorem ipsum dolor sit amet, consectedui.</p>
</div>
<div class="luxen-widget news-widget">
    <div class="title">
        <h5>КОНТАКТИ</h5>
    </div>
    <ul class="footer-links">
        <li><p><i class="fa fa-map-marker"></i> Lorem ipsum dolor sit amet lorem Victoria 8011 Australia </p></li>
        <li><p><i class="fa fa-phone"></i> +61 3 8376 6284 </p></li>
        <li><p><i class="fa fa-envelope"></i> <a href="mailto:manager@dabravata.com">manager@dabravata.com</a></p></li>
    </ul>
</div>