@Html.Partial("~/Views/Shared/_QuickReservation.cshtml")
<div class="luxen-widget news-widget">
    <div class="title-quick marginb20">
        <h5>ИНФОРМАЦИЯ ЗА ХОТЕЛА</h5>
    </div>
    <p>Къщата се намира в центъра на северна България. В полите на Предбалкана, близо да хижа Драгоица. Къщата е само на един час път от София.</p>
</div>
<div class="luxen-widget news-widget">
    <div class="title">
        <h5>КОНТАКТИ</h5>
    </div>
    <ul class="footer-links">
        <li><p><i class="fa fa-map-marker"></i>с. Дъбравата, махала Нишовци - община Ябланица - област Ловеч</p></li>
        <li><p><i class="fa fa-phone"></i> +359 876 060 501 </p></li>
        <li><p><i class="fa fa-envelope"></i> <a href="mailto:dabravata.manager@gmail.com">dabravata.manager@gmail.com</a></p></li>
    </ul>
</div>