@model Dabravata.Models.InputModels.CreateAttractionInputModel
@{
    ViewBag.Title = "Добавяне на Атракция";
    ViewBag.FormModeText = "Добави";
    ViewBag.FormMode = "Create";
}

<div class="container">
    @{Html.RenderPartial("Partials/_CreateEditAttractionPartial", Model);}
</div>