@model IEnumerable<Dabravata.Models.ViewModels.AttractionViewModel>
@{
    ViewBag.Title = "Атракции";
}

<div class="row" style="margin-top:20px;">
    <div class="col-md-4">
        <h3>@ViewBag.Title</h3>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Атракция</th>
                    <th style="text-align:center;"><img src="~/Areas/Administration/Content/img/cog-icon.png" /></th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("Partials/_Attractions", Model)
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" href="@Url.Action("Create")">Добави атракция</a>
    </div>
</div>