@model Dabravata.Models.InputModels.CreateRoomFeatureInputModel
@{
    ViewBag.Title = "Добавяне на Удобство";
    ViewBag.FormModeText = "Добави";
    ViewBag.FormMode = "Create";
}

<div class="container">
    @{Html.RenderPartial("Partials/_CreateEditRoomFeaturePartial", Model);}
</div>