@model IEnumerable<Dabravata.Models.ViewModels.PageViewModel>

@foreach (var Page in Model)
{
    <tr>
        <td>@Page.Title</td>
        <td>
            <a href="#"><img src="~/Areas/Administration/Content/img/preview-icon.png" /></a>
            <a href="@Url.Action("Edit", new { @id = Page.Id })"><img src="~/Areas/Administration/Content/img/edit-icon.png" /></a>
            <a href="@Url.Action("Delete", new { @id = Page.Id })"><img src="~/Areas/Administration/Content/img/delete-icon.png" /></a>
        </td>
    </tr>
}