@model IEnumerable<Dabravata.Models.ViewModels.ReservationViewModel>

@foreach (var Reservation in Model)
{
    <tr>
        <td><img src="~/Areas/Administration/Content/img/picture-icon.png" /></td>
        <td>202</td>
        <td>№ 11224</td>
        <td>@DateTime.Now.ToString("dd-MM-yyyy hh:mm")</td>
        <td>@DateTime.Now.AddDays(2).ToString("dd-MM-yyyy hh:mm")</td>
        <td><a href="#" class="btn btn-danger btn-xs">Освободи</a></td>
        <td>
            <a href="#"><img src="~/Areas/Administration/Content/img/preview-icon.png" /></a>
            <a href="@Url.Action("Edit")"><img src="~/Areas/Administration/Content/img/edit-icon.png" /></a>
            <a href="@Url.Action("Delete")"><img src="~/Areas/Administration/Content/img/delete-icon.png" /></a>
        </td>
    </tr>
}