@model IEnumerable<Dabravata.Models.ViewModels.RoomViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="breadcrumb breadcrumb-1 pos-center">
    <h1>НАШИТЕ СТАИ</h1>
</div>
<div class="content">
    <!-- Content Section -->
    <div class="container margint60">
		<div class="row">
			<div class="col-lg-12 col-sm-12 dab-room-box">
				<div class="alert alert-dismissible alert-success text-center" style="border-radius: 0px;">
					<h4 class="text-center">ЛЯТНА ОФЕРТА</h4>
					<p>
						от понеделник до петък - <strong>15 лв</strong> нощувка на човек <br />
						от петък до неделя уикенд/2 нощувки/- <strong>20 лв</strong> нощувка със закуска на човек<br />
						от петък до неделя уикенд - три нощувки - 10% бонус<br />
						повече от пет нощувки - <strong>15 лева</strong>  нощувка<br />
						за деца до 10г <strong>безплатно</strong>.<br />
						цялата къща <strong>400лв</strong> - без ограничение в броя на настанените ,осигурена закуска<br />
						Ползването на басейн и велосипеди -безплатно  <br />
					</p>
				</div>
			</div>
		</div>
        <div class="row">
            @Html.Partial("~/Views/Home/Partials/_HomeFeaturedRooms.cshtml", Model)
        </div>
		<div class="row">
			<div class="col-lg-6 col-sm-6 dab-room-box">
				<div class="alert alert-dismissible alert-warning text-center" style="border-radius: 0px;">
					<h4 class="text-center">ЦЕНИ</h4>
					<p>
						<strong>400 лв</strong> - цялата къща-16 души <br />/допълнителни легла 15лв, за деца до 10г безплатно/<br /><br />
						<strong>100 лв</strong> - апартамент <br /> /допълнителни легла 15лв ,за деца до 10г безплатно/<br /><br />
						<strong>50 лв</strong> - стая <br /> /допълнителни легла 15лв ,за деца до 10г безплатно/<br /><br />
						<strong>25 лв</strong> - легло<br />
						В цена е включена закуска и ДДС.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6 dab-room-box">
				<div class="alert alert-dismissible alert-warning text-center" style="border-radius: 0px;">
					<h4>БАНКОВ ПРЕВОД</h4>
					<p>
						<strong>При наемане на къщата се внася  депозит в размер на  50% от услугата ,който трябва да се внесе по банкова сметка:</strong><br /><br />

						ЕТ Генадий Петков -Генадий Сергеев Петков<br />

						IBAN -BG89UNCR7000 1522 2402 26 <br />

						BIC-UNCRBGSF<br /><br />

						<strong>останалите 50% при настаняване</strong><br /><br />

						Резервацията се потвърждава след получаване на депозита по банковата сметка .
					</p>
				</div>
			</div>
		</div>
    </div>
</div>