@model IEnumerable<Dabravata.Models.ViewModels.RoomViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="breadcrumb breadcrumb-1 pos-center">
    <h1>НАШИТЕ СТАИ</h1>
</div>
<div class="content">
    <!-- Content Section -->
    <div class="container margint60">
		<div class="row">
			<div class="col-lg-12 col-sm-12 dab-room-box">
                <div class="alert alert-dismissible alert-success text-center" style="border-radius: 0px;">
                    <h4 class="text-center">ЦЕНИ от 1юли 2018г </h4>
                    <h4 class="text-center">КЪЩА ЗА ГОСТИ ДЪБРАВАТА</h4>
                    <p>
                        1.Вариянт:<br />
                        Цялата къща -500лв за една нощувка;<br />
                        - 10 стаи 20 души по 25лв за нощувка на човек;<br />
                        - Деца до 6г безплатно ;<br /><br />
                        2.Вариянт:<br />
                        Цялата къща -400лв за една нощувка ;<br />
                        - 8 стаи 16 души по 25лв за нощувка на човек;<br />
                        - Деца до 6г безплатно;<br />
                        Възможност за допълнителни легла във всяка стая .<br /><br />
                        <h4 class="text-center">Доплащане за допълнителните легла</h4>
                        -възрастен 15 лв,<br />
                        -деца от 6 до 14г – 10лв<br />
                        От понеделник до петък възможно индивидуално настаняване – 25 лв на човек<br />
                        Индивидуално договаряне за повече от пет нощувки<br />
                        ЗАЛА ЗА ЙОГА  - 50лв на ден.<br />
                        Приготвяне на храна –виж допълнителни услуги<br /><br />
                        <h4 class="text-center">Къщата е резервирана за Нова Година !</h4>
                    </p>
                </div>
			</div>
		</div>
        <div class="row">
            @Html.Partial("~/Views/Home/Partials/_HomeFeaturedRooms.cshtml", Model)
        </div>
		<div class="row">
			<div class="col-lg-6 col-sm-6 dab-room-box">
				<div class="alert alert-dismissible alert-warning text-center" style="border-radius: 0px;">
					<h4 class="text-center">ЦЕНИ</h4>
					<p>
						<strong>400 лв</strong> - цялата къща-16 души <br />/допълнителни легла 15лв, за деца до 10г безплатно/<br /><br />
						<strong>100 лв</strong> - апартамент <br /> /допълнителни легла 15лв ,за деца до 10г безплатно/<br /><br />
						<strong>50 лв</strong> - стая <br /> /допълнителни легла 15лв ,за деца до 10г безплатно/<br /><br />
						<strong>25 лв</strong> - легло<br />
						В цена е включена закуска и ДДС.
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6 dab-room-box">
				<div class="alert alert-dismissible alert-warning text-center" style="border-radius: 0px;">
					<h4>БАНКОВ ПРЕВОД</h4>
					<p>
						<strong>При наемане на къщата се внася  депозит в размер на  50% от услугата ,който трябва да се внесе по банкова сметка:</strong><br /><br />

						ЕТ Генадий Петков -Генадий Сергеев Петков<br />

						IBAN -BG89UNCR7000 1522 2402 26 <br />

						BIC-UNCRBGSF<br /><br />

						<strong>останалите 50% при настаняване</strong><br /><br />

						Резервацията се потвърждава след получаване на депозита по банковата сметка .
					</p>
				</div>
			</div>
		</div>
    </div>
</div>