@model IEnumerable<Dabravata.Models.ViewModels.RoomViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="breadcrumb breadcrumb-1 pos-center">
    <h1>НАШИТЕ СТАИ</h1>
</div>
<div class="content">
    <!-- Content Section -->
    <div class="container margint60">
		<div class="row">
			<div class="col-lg-12 col-sm-12 dab-room-box">
                <div class="alert alert-dismissible alert-success text-center" style="border-radius: 0px;">
                    <h4 class="text-center">Цени и настаняване</h4>
                    <h4 class="text-center">от 01.01.2021г</h4>
                    <p>
                        <h4 class="text-center"></h4>През уикенда  къщата се отдава само за две нощувки.</h4><br /><br />
                        Цялата къща -480лв на вечер при:<br />
                        минимално настаняване:              16 легла<br />
                        цена на всяко следващо легло :    30лв на нощувка<br />
                        максимално настаняване:             23 легла<br />
                        допълнителни сгъваеми  легла :  4 броя <br />
                        цената за възрастен :                    15лв.на нощувка;<br />
                        За деца до 3 навършени години :   безплатно настаняване.<br />
                        За домашни любимци:                5 лв на нощувка<br /><br />

                        <h4 class="text-center"></h4>От понеделник до петък – до 15 април само групово настаняване</h4><br /><br />

                        Цена на едично настаняване :     30лв.<br />
                        За по-дълъг престой цените подлежат на  договаряне;<br />
                        Помощ при приготвяне на храна: виж допълнителни услуги<br />
                        Всички резервации се правят през системата на сайта www.dabravata.com<br />
                        За допълнителни въпроси : телефон 0889 999 887 Даниела Петкова<br />
                    </p>
                </div>
			</div>
		</div>
        <div class="row">
            @Html.Partial("~/Views/Home/Partials/_HomeFeaturedRooms.cshtml", Model)
        </div>
		<div class="row">
			<div class="col-lg-6 col-sm-6 dab-room-box">
				<div class="alert alert-dismissible alert-warning text-center" style="border-radius: 0px;">
					<h4 class="text-center">ЦЕНИ</h4>
					<p>
						<strong>480 лв</strong> - цялата къща-16 души <br />/допълнителни легла 15лв, за деца до 10г безплатно/<br /><br />
						<strong>120 лв</strong> - апартамент <br /> /допълнителни легла 15лв ,за деца до 10г безплатно/<br /><br />
						<strong>60 лв</strong> - стая <br /> /допълнителни легла 15лв ,за деца до 10г безплатно/<br /><br />
						<strong>30 лв</strong> - легло<br />
					</p>
				</div>
			</div>
			<div class="col-lg-6 col-sm-6 dab-room-box">
				<div class="alert alert-dismissible alert-warning text-center" style="border-radius: 0px;">
					<h4>БАНКОВ ПРЕВОД</h4>
					<p>
						<strong>При наемане на къщата се внася  депозит в размер на  50% от услугата ,който трябва да се внесе по банкова сметка:</strong><br /><br />

						ЕТ Генадий Петков -Генадий Сергеев Петков<br />

						IBAN -BG89UNCR7000 1522 2402 26 <br />

						BIC-UNCRBGSF<br /><br />

						<strong>останалите 50% при настаняване</strong><br /><br />

						Резервацията се потвърждава след получаване на депозита по банковата сметка .
					</p>
				</div>
			</div>
		</div>
    </div>
</div>