@model Dabravata.Models.InputModels.CreateRoomInputModel
@{
    ViewBag.Title = "Редактиране на Стая";
    ViewBag.FormModeText = "Запази";
    ViewBag.FormMode = "Edit";
}

<div class="container">
    @{Html.RenderPartial("Partials/_CreateEditRoomPartial", Model);}
</div>