@model IEnumerable<Dabravata.Models.ViewModels.RoomCategoryViewModel>

@foreach (var Category in Model)
{
    <tr>
        <td>@Category.Name</td>
        <td>
            <a href="#"><img src="~/Areas/Administration/Content/img/preview-icon.png" /></a>
            <a href="@Url.Action("Edit", new { @id = Category.Id })"><img src="~/Areas/Administration/Content/img/edit-icon.png" /></a>
            <a href="@Url.Action("Delete", new { @id = Category.Id })"><img src="~/Areas/Administration/Content/img/delete-icon.png" /></a>
        </td>
    </tr>
}